body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8b9dad;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.options {
  display: flex;
  font-size: 25px;
}

.speed {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 50px;
}

.random {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 50px;
}

canvas {
  border: 2px solid black;
  background-color: #c6d3dd;
}
